.about__bg{
   background-image: url("about-bg.jpg");
    height: 100vh;
    width:auto;
    background-repeat: no-repeat;
background-position: center;
background-color: #101010;
background-size: contain;  
}

.about_title{
    font-family: Questrial,sans-serif;
    color:white;
    position: absolute;
    display:flex;
    align-content: center;
    justify-content: center;
    margin: auto;
    width:auto;
    left:30vw;
    top:45vh;
    margin-left:5%;
   
 
}
.about_title>h1{
    font-size: 8vw;
    line-height: 9vw;
    font-family: 'DM Sans',sans-serif;
}
/*media queries*/
@media only screen and (min-device-width:320px) and (max-device-width:480px){
 .about__bg{
     background-position: top;
     height:82vh;
     background-size: 120%;
    
 }
 .about_title{
     left: 10vw;
 }
 .about_title>h1{
   
     font-size:50px;
     text-align: center;
    
 }
 
}