.Background{
    background-color: #101010 !important;
    height:100vh;
  display: flex;
  align-content: center;
  
    
  
}
.Contact_title{
    text-align: left;
    font-size: 60px;
    color: #fff;
    position: relative;
    align-self: flex-start;
    padding-top: 160px;
    padding-left: 80px;
}

.contact__form{
    padding:120px;
    width: 100%;
    align-self: center;
    
}
.contact__address{
    padding-top: 60px;
    
}
.contact__address h2{
    border-bottom: 2px solid red;
    font-weight: 600;
    padding-top: 40px;
}
.form-control{
    border-style:none none solid !important;
    background-color: #101010 !important;
    border-radius: 0!important;
  
}
/*.footer{
    height:100px;
    width:auto;
    background-color: black;
    color: white;
    overflow: hidden;
   position:relative;
   display:unset;
}*/

/*media queries*/

@media only screen and (min-device-width:320px) and (max-device-width:480px){
    .Background{
        height:100vh;
       display:grid;
    align-content:center;
    justify-content: center;
    }

    .contact__form{
        padding:10px;
        margin-top:50px;
    }
    .contact__address{
        display:none;
        
    }
    .Contact_title{
        padding-left: 0px;
        padding-top: 0px;
        position: static;
    }
   
}
@media only screen and (max-device-width:481px) and (max-device-width:768px){
    .Background{
        height:100vh;
       display:grid;
    align-content:center;
    justify-content: center;
    }

    .contact__form{
        padding:10px;
        margin-top:70px;
    }
    .contact__address{
        display:none;
        
    }
    .Contact_title{
        padding-left: 0px;
        padding-top: 0px;
        position: static;
    }
}