.project__bg{
    background-color: #101010;
    height:100vh;
}
.project__heading h1 {
    float: left;
    font-size: 80px;
    font-weight: 400;
    margin-top: 60px;
    border-bottom: 4px solid yellow;
}
.projects__show{
    
    display: flex;
    padding-top:80px;
    justify-content: space-evenly;  
}
.container-fluid{
    border: 2px solid black;
    align-content: space-between;
}

/*Media queries*/
@media only screen and (min-device-width:320px) and (max-device-width:480px){

    .projects__show{
    
        display:grid;
        position: static;
        align-items: self-start;
        
    }

    .card{
        height:50%;
        width:auto;
        margin-top:0;
        
    }
    .card-img-top{
        width:auto;
        height:50%;
    }
    .card-body{
        width:auto;
        height:50%;
        padding:5px!important;
    }
    .card-text{
        display:none;
        
    }
    .btn .btn-primary{
        size:10px;
    }
}
