
.socialicons{
    height: 100vh;
    width:auto;
    display: flex;
    align-items: flex-end;
    color: white;
    margin-left: 10%;  
}
.MuiSvgIcon-root{
    font-size: 30px!important;
    margin-right:20px;
  
}

/*Media queries*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.socialicons{
color: #101010 !important;
}

}