
.socialicons{
    height: 100vh;
    display: grid;
    padding-top: 130px;
    padding-left: 10px;
    padding-right: 10px;
    
    color: white;
    background: rgba(29,31,58,0.5); 
   
   
    
/*background: -webkit-linear-gradient(to bottom, #414345, #232526);  
background: linear-gradient(to bottom, #414345, #232526); */

}