*{
  font-family: 'DM Sans',sans-serif;
  line-height: 20px;
  color: #fff;
  font-size: 14px;
}




.bg {
  background-color: #101010 !important;
  position: fixed !important;
  width: 100%;
  padding: 0.5rem 1rem;
}

.navbar-light .navbar-brand {
  position: absolute;
  background-image: url("");
  /* height: 200px;
  width: 200px;*/
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: none;
  margin: none;
}

.navbar-nav a {
  color: white !important;
  font-weight: normal;
  font-size: 22px;
  padding-right: 16px;
  cursor: pointer;
  font-family: Questrial, sans-serif;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:active {
  border-bottom: 2px solid white !important;
  padding-bottom:2px;
}


/* overriding exisiting/Default react-bootstrap navbar properties
.navbar-light .navbar-nav .nav-link a{
  color: black!important;
  font-weight:normal;
  font-size: 22px;
  justify-content: space-between;
  cursor: pointer;
  font-family: 'Prata', serif;
 
}

.navbar-light .navbar-nav .nav-link:hover{
  transition: transform 200ms ease-in-out;
  transform: scale(1.1);
  color: yellow;
  background: yellow;
  height: auto;
  padding: none;
}
*/
@media only screen and (min-device-width : 320px) and (max-device-width:480px) {
  .navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:active {
  border-bottom: none!important;
  padding-bottom:none !important;
}
.navbar-toggler{
  background-color: gray !important;
}
}
@media only screen and (min-device-width:481px) and (max-device-width:768px){
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:active {
    border-bottom: none!important;
    padding-bottom:none !important;
  }
  .navbar-toggler{
    background-color: gray !important;
  }
}
