
.bg{
  background-color:rgba(29,31,58,0.5)!important;  
  position: absolute!important;
  width: 100%;
 
  padding: .5rem 1rem;
  margin-top: 30px;
}

.navbar-light .navbar-brand {
  position:absolute;
 background-image: url("Logo-removebg1.png");
 /* height: 200px;
  width: 200px;*/
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: none;
  margin: none;
}

.navbar-light .navbar-nav .nav-link{
  color: black!important;
  font-weight:normal;
  font-size: 22px;
  justify-content: space-between;
  cursor: pointer;
  font-family: 'Prata', serif;
 
}
.navbar-light .navbar-nav .nav-link.active.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{
  border-bottom: 2px solid black;
}

.navbar-light .navbar-nav .nav-link:hover{
  transition: transform 200ms ease-in-out;
  transform: scale(1.1);
  color: yellow;
  background: yellow;
  height: auto;
  padding: none;
}

.icons__style{
  display: flex;
justify-content: space-between;
color: white;
padding-right: 20px;

}
.icons__style:hover{
  transition: transform 200ms ease-in-out;
  transform: scale(1.2);
}

